* {
    margin: 0px;
    background-color: rgb(247, 247, 247);
}
form {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10%;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.leftImg {
    width: 100px;
    height: 100px;
    margin: 20px 0px 0px 100px;
    grid-row: 1;
    justify-self: right;
}
.rightImg {
    width: 100px;
    height: 100px;
    margin: 20px 100px 0px 0px;
    justify-self: left;
    grid-row: 1;
}
.mainTitle {
    border-bottom: 3px solid rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    margin: 20px 10px 0px 10px;
    height: 40px;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
}
.mainContent {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    margin-top: 30px;
}
.libraryTitle {
    border: 3px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-color: rgba(0, 138, 0, 0.685);
    font-size: 18px;
    padding: 20px;
    height: fit-content;
    margin-left: 20px;
    margin-top: 60px;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
}
.addBtn {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 70%;
    background-color: rgba(0, 138, 0, 0.685);
    color: rgb(255, 255, 255);
    grid-column: 3;
    grid-row: 1;
    margin: 70px 10px 10px 10px;
    width: 80px;
    height: 50px;
    justify-self: left;
}
.addBtn:hover {
    background-color: rgb(10, 126, 0);
}
.addBtn:active {
    background-color: rgb(6, 77, 0);
    font-weight: bold;
}
.addBook {
    display: block;
    grid-column: 3;
}
.newBookForm {
    display: none;
    padding: 20px;
    width: 200px;
    background-color: rgba(0, 138, 0, 0.685);
}
input {
    margin: 5px;
    display: block;
    border: rgb(0, 0, 0) 2px solid;
}
.readTitle {
    background-color: rgba(0, 138, 0, 0.685);
}
label {
    grid-row: 4;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}
.submitBook {
    display: block;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(0, 141, 206);
    color: rgb(255, 255, 255);
}
.submitBook:hover {
    background-color: rgb(0, 86, 214);
}
.submitBook:active {
    background-color: rgb(0, 73, 182);
    font-weight: bold;
}
.newEntry {
    display: block;
    border: 3px solid black;
    border-radius: 10%;
    padding: 10px;
    margin: 35px;
    min-width: 200px;
    background-color: rgb(0, 141, 206);
}
.cardItem {
    padding: 10px;
    background-color: rgb(0, 141, 206);
    color: rgb(255, 255, 255);
}
.displayArea {
    border-top: 3px solid rgb(0, 0, 0);
    height: fit-content;
    min-height: 150px;
    margin: 20px;
    grid-column: 1 / 4;
    grid-row: 4;
    display: flex;
    flex-wrap: wrap;
}
.readToggle {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 138, 0, 0.685);
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
}
.readToggle:hover {
    background-color: rgb(10, 126, 0);
}
.readToggle:active {
    background-color: rgb(6, 77, 0);
    font-weight: bold;
}
.deleteBtn {
    margin: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}
.deleteBtn:hover {
    background-color: rgb(224, 0, 0);;
}
.deleteBtn:active {
    font-weight: bold;
    background-color: rgb(185, 0, 0);
}